/* @import './header.css'; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;

  --color-bg-300: #fdfdfd;
  --color-bg-500: #eeeeee;
  --color-bg-700: #4f4e50;
  --color-bg-900: #252323;

  --color-ft-100: #ffffff;
  --color-ft-400: #8b8b8b;
  --color-ft-900: #000000;

  --menu-color: #A5A5A5;
  --menu-hover: #00BAC6;

  --title-color: #ffffff;
  --text-color: #818181;
  --subtitle-color: #7B7B7B;
}



body {
  font-size: 1.6rem;
  color: var(--color-ft-400);
  font-family: 'Inter', sans-serif;
}


#products {
  text-align: center;
}

#products .products-content {
  width: 80%;
  padding: 5rem 0;
  margin: 0 auto;
}

.header-title h2 {
  font-weight: normal;
  font-size: 2.2rem;
}

.header-title p {
  margin: 1rem 0;
  font-size: 1.4rem;
}

.products-content ul {
  list-style: none;
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.product-item img {
  height: 10rem;
}

.product-item h3 {
  font-weight: normal;
  margin: 2rem 0 1rem 0;
}

.product-item p {
  margin: 1rem 0;
  font-size: 1.4rem;
}

#photos {
  background-color: var(--color-bg-500);
}

#photos .photos-content {
  width: 80%;
  padding: 5rem 0;
  margin: 0 auto;
}

.photos-content ul {
  display: grid;
  grid-template-columns: 1fr;

  padding: 3rem 0;
  gap: 3rem;
  list-style: none;
}

.photos-item {
  border: 1px solid #c5c5c5;
}

.photos-item img {
  width: 100%;
  object-fit: cover;
}

.subtitle {
  padding: 1rem;
}

#information {
  width: 100%;
  background-color: var(--color-bg-700);
}

#information article p {
  color: #a6a5a5;
}

.information-content {
  width: 80%;
  padding: 5rem 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.information-content article {
  width: 100%;
}

.information-content h3,
.tags strong {
  color: var(--title-color);
  font-weight: normal;
}

.information-content h3 {
  padding-bottom: 3rem;
}

#popular-posts div:nth-child(1) {
  border-bottom: 1px solid #5c5c5c;
}

#popular-posts div {
  padding: 1rem 0;
}

#popular-posts .posts-legend {
  display: flex;
  align-items: center;
  gap: .5rem;
}

#get-in-touch ul {
  list-style: none;
  padding-top: 2rem;
}

#get-in-touch ul li {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-bottom: 1rem;
}

#get-in-touch li a {
  color: #a6a5a5;
  text-decoration: none;
}

#get-in-touch li a:hover,
.get-in-touch li a:active {
  text-decoration: underline;
}

#footer {
  width: 100%;
  background-color: var(--color-bg-900);
}

.footer-content {
  width: 80%;
  height: 12rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  list-style: none;
}

@media (min-width: 48rem) {
  .products-content ul {
    flex-direction: row;
  }

  .photos-content ul {
    grid-template-columns: repeat(3, 1fr);
  }

  .information-content {
    flex-direction: row;
    align-items: baseline;
  }
}